.button
{
    -fx-background-color:  #be0000;
    -fx-background-radius: 30 30 30 30;
}

.button:hover
{
    -fx-background-color: #ff0067;
    -fx-background-radius: 30 30 30 30;
}

.button:pressed
{
    -fx-background-color: #a80505;
    -fx-background-radius: 30 30 30 30;
}


